
#modimg{
    border-radius: 1%;
    size: 35x45 mm;
}
body{
    background-color: navy;
     
}
h1{
    text-align: left;
    color: aliceblue;
    font-size: 9ex;
}
p{
    text-align: right;
    color: aliceblue;
    font-size: 2ex;
}



